@import '../../assets/styles/main.scss';

.CtaButton {
  position: absolute;
  right: -10px;
  bottom: -10px;
  background-image: $gradient-primary;
  color: $color-text;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: -.03em;
  padding: 10px 20px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  transition: transform .2s ease-in-out;

  @media(max-width: $breakpoint-m) {
    bottom: 10px;
    right: 10px;
  }

  &.animated {
    animation: Scale 1.3s ease-in-out infinite alternate;
  }

  &.loading {
    background: $color-bg-loader;
    display: flex;
    justify-content: center;
    pointer-events: none;
    width: 70px;
    &:hover {
      transform: none;
    }
  }

  &:hover {
    animation-play-state: paused;
    color: $color-text;
    transform: scale(1.03);
  }
}

@keyframes Scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
