@import './vars';
@import 'typeface-rubik';

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Page main {
  position: relative;
  background-image: $gradient-content-bg;
  min-width: 500px;
  padding: 20px 40px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);

  @media (max-width: 520px) {
    min-width: 0px;
    width: 100%;
  }
}

h1 {
  font-size: 2.3em;
  letter-spacing: -.03em;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

p {
  font-size: 1.3em;
  margin-top: -10px;
}

.Details {
  display: block;
  font-size: 1.1em;
  margin: 1.3em 0;
  margin-top: 30px;
}

a {
  color: $color-link;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    color: $color-link-hover;
  }
}

label {
  display: block;
  font-size: 1.2em;
  font-weight: 500;
  margin: 1.5em 0;

  input {
    font-size: .9em;
  }
}

textarea, input {
  display: block;
  background: $color-bg-input;
  outline: none;
  border: 2px solid transparent;
  font: inherit;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: .02em;
  width: 100%;
  margin: 10px 0;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  color: $color-text;

  &::placeholder {
    color: rgba(255, 255, 255, .4);
  }

  &:focus {
    border: 2px solid $color-link;
  }
}

textarea {
  resize: none;
}
