$color-bg: #11171e;
$color-text: #ffffff;
$gradient-content-bg: linear-gradient(to top right, #292f43, #343b52);
$color-link: #8599fc;
$color-link-hover: #637cf9;
$gradient-primary: linear-gradient(to top right, #6A4EF9, #59c0fa);
$gradient-primary-horizontal: linear-gradient(to right, #6A4EF9, #59c0fa);
$color-shadow-primary: rgba(134, 154, 252, .2);
$color-bg-input: #1D2233;
